{
  "version": "0.0.1",
  "name": "NeuChar",
  "guid": "9F88AF01CC084F658DDD31F022B18053",
  "key": "",
  "Configs": [
    {
      "Version": "0.0.1",
      "MaterialData": [
        {
          "Name": "43E8BCD9",
          "Id": "43E8BCD9",
          "Note": null,
          "Version": "2018.10.16.0",
          "Type": 1,
          "Content": "{\"ThumbCoverUrl\":\"https://sdk.weixin.senparc.com/images/book-cover-front-small-3d-transparent.png\",\"Author\":null,\"Title\":\"单图文\",\"Content\":\"单图文\",\"Digest\":\"单图文\",\"ContentSourceUrl\":\"\",\"ArticleIds\":[\"43E8BCD9\"]}"
        },
        {
          "Name": "D636B317",
          "Id": "D636B317",
          "Note": null,
          "Version": "2018.10.16.0",
          "Type": 106,
          "Content": "{\"ThumbCoverUrl\":\"https://sdk.weixin.senparc.com/Images/sdkCourse.jpg\",\"Author\":null,\"Title\":\"多图文\",\"Content\":\"单图文\",\"Digest\":\"单图文\",\"ContentSourceUrl\":\"\",\"ArticleIds\":[\"D636B317\",\"43E8BCD9\"]}"
        },
        {
          "Name": "57834E4F",
          "Id": "57834E4F",
          "Note": null,
          "Version": "2018.10.16.0",
          "Type": 0,
          "Content": "欢迎使用NeuChar！"
        },
        {
          "Name": "CD694AA8",
          "Id": "CD694AA8",
          "Note": null,
          "Version": "2018.10.16.0",
          "Type": 0,
          "Content": "现在时间：{now}"
        }
      ],
      "Config": {
        "MessagePair": [
          {
            "Name": "N",
            "Id": "5A981F4A",
            "Note": null,
            "Version": "20181016",
            "Request": {
              "Type": 0,
              "Keywords": [
                "s",
                "n",
                "senparc"
              ]
            },
            "Responses": [
              {
                "Type": 1,
                "MaterialId": "43E8BCD9"
              },
              {
                "Type": 0,
                "MaterialId": "57834E4F"
              }
            ]
          },
          {
            "Name": "now",
            "Id": "C2721B66",
            "Note": null,
            "Version": "20181016",
            "Request": {
              "Type": 0,
              "Keywords": [
                "now"
              ]
            },
            "Responses": [
              {
                "Type": 0,
                "MaterialId": "CD694AA8"
              }
            ]
          },
          {
            "Name": null,
            "Id": null,
            "Note": null,
            "Version": null,
            "Request": {
              "Type": 7,
              "Keywords": [
                "NEUCHAR|43E8BCD9"
              ]
            },
            "Responses": [
              {
                "Type": 1,
                "MaterialId": "43E8BCD9"
              }
            ]
          },
          {
            "Name": null,
            "Id": null,
            "Note": null,
            "Version": null,
            "Request": {
              "Type": 7,
              "Keywords": [
                "NEUCHAR|CD694AA8"
              ]
            },
            "Responses": [
              {
                "Type": 0,
                "MaterialId": "CD694AA8"
              }
            ]
          }
        ]
      },
      "Name": "MessageHandlerNode",
      "ChildrenNodes": []
    }
  ]
}